

.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.project9_footer_button{
    font-size: .9rem;
}

.project9_footer{
    text-align:center; margin-top:2rem;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }

}

hr{
    margin : 0.5rem 0;
}

a {
    color: black;
    text-decoration-line: none;

}

a:hover {
    color: black;
    text-decoration: none;
}

.project9_header_nav{
    margin: 0 0.5rem;
}

.project9_header_navbar {
    margin: 1rem 0;
}