.fixed_header{
/*상단에 메뉴바를 고정하고싶음*/
}
.upper_navbar{
    display: flex;
    justify-content: right;
    margin-right: 1.5rem;
    height: 1.5rem;

}

.upper_navbar > a{
    font-size: 0.8rem;
    margin:  0.5rem;
    font-weight: lighter;

}

.lower_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.5rem;
    font-weight: lighter;
    padding: 0.5rem;



}

.lower_navbar_left{
    margin-left: 2rem;
}

