.fixed_header{
/*상단에 메뉴바를 고정하고싶음*/
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;



}
.upper_navbar{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1.5vw;
    height: 1.5vw;

}

.upper_navbar > a{
    font-size: 0.8rem;
    margin:  0.5vw;
    font-weight: lighter;

}

.lower_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    padding: 0.5vw 1.5vw 0.5vw 0.5vw;
    border: 1px solid rgba(0,0,0,10%);
    border-left: 0;
    border-right: 0;


}

.lower_navbar_left{
    margin-left: 2vw;
}

